h1 {
  font-family: 'Ruthie', cursive;
  text-align: center;
  font-size: 72px;
}

body {
  /* Background photo by Erin Profaci from Pexels */
    background-image: url("../images/rosequartz.jpg");
    background-size: cover;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }

  .crystalPic {
    width: 200px;
    height: 150px;
  }

  
  