body {
  /* Background photo by Erin Profaci from Pexels */
    background-image: assets/images/rosequartz.jpg;
    background-size: cover;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }

  .crystalPic {
    width: 200px;
    height: 150px;
  }

  
  