h1 {
  font-family: 'Ruthie', cursive;
  text-align: center;
  font-size: 72px;
  padding: 50px;
  color: darkorchid;
}

body {
  /* Background photo by Erin Profaci from Pexels */
    background-image: url("../images/rosequartz.jpg");
    background-size: cover;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }

.crystalPic {
  width: 200px;
  height: 150px;
  padding: 10px;
  float: right;
 }


.stats {
  color: darkorchid;
  font-size:28px;
  font-weight: bold;
}

.instructions {
  color: indigo;
  font-size:18px;
  font-weight: bold;
  padding-left:50px;
}



